﻿@model ForumApp.Models.Reply

@{
    ViewBag.Titlu = "Editeaza Raspuns";
}

<h2>@ViewBag.Titlu</h2>


<form method="post" action="/Reply/Edit/@Model.Id">
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.HiddenFor(m => m.Id)

    @Html.Label("Content", "Continut nou")
    <br />

    @Html.TextBox("Content", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger " })
    <br /><br />

    <button class="btn btn-success" type="submit">Modifica raspuns</button>
</form>
