﻿@model ForumApp.Models.Reply

@{
    ViewBag.Titlu = "Adaugare Raspuns";
}

<h2>@ViewBag.Titlu</h2>

@using (Html.BeginForm(actionName: "New", controllerName: "Reply", routeValues: Model.TopicId))
{

    @Html.HiddenFor(m => m.UserId)

    
    <br />

    @Html.Label("Content", "Continut raspuns")
    <br />

    @Html.TextBox("Content", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
    <br />

    @Html.Hidden("Date", DateTime.Now, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger " })

    @Html.HiddenFor(m => m.TopicId)


    <button class="btn btn success" type="submit">Adauga raspuns</button>
}