﻿@model ForumApp.Models.ApplicationUser

@{
    ViewBag.Title = "Editare rol utilizator";
}

<ol class="breadcrumb">
    <li><h3>@ViewBag.Title</h3></li>
</ol>

<form method="post" action="/Users/Edit/@Model.Id">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.HiddenFor(m => m.Id)
    <br />
    <i class="glyphicon glyphicon-user"></i>
    @Html.Label("UserName", "Nume utilizator", new { @class = "" })
    <br />
    @Html.EditorFor(m => m.UserName)
    <br /><br />

    <i class="glyphicon glyphicon-envelope"></i>
    @Html.Label("Email", "Email utilizator", new { @class = "" })
    <br />
    @Html.EditorFor(m => m.Email, new { @class = "", style = "color: white" })
    <br /><br />

    <i class="glyphicon glyphicon-phone"></i>
    @Html.Label("PhoneNumber", "Numar telefon")
    <br />
    @Html.EditorFor(m => m.PhoneNumber, new { @class = "", style = "color: white" })
    <br /><br />

    <i class="glyphicon glyphicon-th-list"></i>
    <label>Selectati rolul</label>
    @Html.DropDownList("newRole", new SelectList(Model.AllRoles, "Value", "Text", (string)ViewBag.userRole), null, new { @class = "form-control" })
    <br />
    <button class="btn btn-sm btn-success" type="submit">Modifica datele utilizatorului</button>
</form>