﻿@model ForumApp.Models.Category

@{
    ViewBag.Titlu = "Editare categorie";
}

<h2>@ViewBag.Titlu</h2>

<form method="post" action="/Category/Edit/@Model.CategoryId">
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.HiddenFor(m => m.CategoryId)

    @Html.Label("CategoryName", "Nume Categorie")
    <br />

    @Html.TextBox("CategoryName", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger " })
    <br /><br />

    <button class="btn btn-success" type="submit">Modifica categoria</button>
</form>

