﻿@model ForumApp.Models.Category

@{
    ViewBag.Titlu = "Adaugare Categorie";
}

<h2>@ViewBag.Titlu</h2>

<form method="post" action="/Category/New">

    @Html.Label("CategoryName", "Nume categorie")
    <br />

    @Html.TextBox("CategoryName", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger " })
    <br /><br />

    <button class="btn btn-success" type="submit">Adauga categorie</button>
</form>